/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 4rem;
    padding: 2rem 1rem;
    background-color: white;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 16rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header {
    opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
}

.page-title {
    color: #236DE6;
}

.sidebar-title {
    color: #236DE6;
}

.sidebar-link {
    /* color: #236DE6; */
}

.header {
    /* margin-left: 5rem; */
    background-color: #236DE6;
}

.header-button {
    background-color: #236DE6;
    margin-top: 5px;
}

.header-button:hover {
    background-color: #236DE6;
}